* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* seaarching bar */
.input-container {
  opacity: 0.9;
  padding: 30% 10% 20%;
}

.input-container input {
  padding: 8px;
  font-size: 16px;
  width: 90%;
}

.title-container {
  background-color: #191627;
  padding: 8px;
  color: #fff;
  text-align: center;
}

.country-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.a-card {
  background-color: #1f2545;
  background: linear-gradient(to bottom right, #1f2545, #000);
  padding: 10px 20px;
  opacity: 0.9;
}

.country-image {
  width: 100px;
  margin-bottom: 10px;
}

.item-container {
  display: flex;
  flex-direction: column;
  right: 0;
  bottom: 0;
  text-align: right;
}

.item-container h3 {
  color: #fff;
  justify-content: flex-end;
  font-weight: 500;
}

@media (min-width: 768px) {
  .input-container {
    padding: 10%;
  }

  .input-container input {
    width: 100%;
  }

  .search-bar {
    padding: 10px;
    font-size: 18px;
    width: 80%;
  }

  .country-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .a-card {
    padding: 20px;
    transition: 0.3s;
  }

  .a-card:hover {
    scale: 1.02;
    border: 2px solid #1f2545;
    border-radius: unset;
  }

  .country-image {
    width: 130px;
    margin-bottom: 20px;
  }
}
