@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,100;1,300&display=swap');

body {
  background-color: #2f2950;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}
